@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Neucha&family=Space+Grotesk:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-100: #ffffff;
  --base-200: #deded5;
  --base-300: #0e0e0e;
  --base-400: #b300ff;
  --base-500: #aaff00;

  /*FONT VARIABLES */
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-decorative: "Neucha", cursive;
}

.work img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header h1{
  font-size: 4rem;
  
}

h3{
  font-size: 1.25rem;
  letter-spacing: -0.025rem;
}

footer p {
  font-size: 1rem;
  letter-spacing: -0.0125rem;
}

header, footer{
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  align-content: center;
  padding: 1.25rem;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.work{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}

.row{
  flex: 1;
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.work-item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-item img{
  aspect-ratio: 4/3;
  overflow: hidden;
}

.work-item-copy p{
  color:#999;
}

@media (max-width: 1000px){
  .work .row{
    gap: 2rem;
  }

  .row{
    flex-direction: column;
  }

  footer{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.view-btn {
  display: inline-block;
  padding: 8px 14px;
  background: black;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
}

.view-btn:hover {
  background: #222;
}
